<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Log - Employee Dashboard</title>
</head>

<body>
    <h1>Welcome, {{data.profile.name}}</h1>
    <div><a href="/employee/auth/logout">Logout</a></div>

    <h3>Logs</h3>
    <table>
        <tr>
            <th>title</th>
            <th>description</th>
            <th>date</th>
            <th>actions</th>
        </tr>
        {{#each data.logs}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{toLocaleDateString this.createdDate}}</td>
            <td><a href="#">Edit</a> <a href="#">Delete</a></td>
        </tr>
        {{/each}}

    </table>

</body>
<script>
    { { console } }
</script>

</html>