<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Log - Employee Dashboard</title>
</head>

<body>
    <h1>Welcome, {{data.profile.name}}</h1>
    <div><a href="/employee/auth/logout">Logout</a></div>
</body>

</html>