<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Log</title>
</head>

<body>

    <p>Manage employees daily work log</p>
    <a href="/admin/signin">Admin portal</a><br>
    <a href="/employee/signin">Employee portal</a>
</body>

</html>